$primary: #00A8B0;
//$primary-alt: #40B73F;
$primary-alt: #2ecc71;
$secondary: #F38B3C;

$background: white;
$background-alt: #222222;
$background-alt-lighter: #333333;

$text-color: black;
$text-color-alt: white;
$text-color-tertiary: gray;

$warning-color: #c0392b;
