.flag-icon {
    background-image: url('https://bps-cdn-level3.bpsgameserver.com/bc/Betsson/Common/neutral/spriteimg/2013/05/si_CC_languages_v47.Png');
    & .no {
        background-position: 0 0px;
    }
    & .is {
        background-position: 0 33px;
    }
    & .hu {
        background-position: 0 66px;
    }
    & .sv {
        background-position: 0 99px;
    }
    & .br {
        background-position: 0 132px;
    }
    & .es {
        background-position: 0 165px;
    }
    & .fi {
        background-position: 0 198px;
    }
    & .el {
        background-position: 0 231px;
    }
    & .fr {
        background-position: 0 264px;
    }
    & .pl {
        background-position: 0 297px;
    }
    & .pe {
        background-position: 0 330px;
    }
    & .it {
        background-position: 0 363px;
    }
    & .de {
        background-position: 0 396px;
    }
    & .sr {
        background-position: 0 429px;
    }
    & .nl {
        background-position: 0 462px;
    }
    & .en {
        background-position: 0 495px;
    }
    & .cs {
        background-position: 0 528px;
    }
    & .da {
        background-position: 0 561px;
    }
    & .tr {
        background-position: 0 594px;
    }
}
