.navbar li a
{
    color: #696969 !important;
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar li:hover
{
    background-color: #f0f0f0;
}

.navbar li.active a
{
    color: #ffffff!important;
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    background-color: #ec6901;
}
