.winner-list {

    .event {

        .winner-market.module {

            table {
                border-collapse: collapse;
            }

            .muted {
                font-weight: lighter;
            }

            .selected {
                font-weight: 700;
                color: $primary;
            }
        }

        &:after {
            content: " ";
            display: block;
            clear: both;
        }
    }
}
